button, .btn {
    display: block;

    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: #989bdb;

    padding: 0.45rem;
    border-radius: 10px;
    border: 2px solid #8c8fca;

    cursor: pointer;
    user-select: none;
}
button:active, .btn:active {
    background-color: #8c8fca;
}

#start-menu-container {
    background-color: #96c9da;
}
#start-menu-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start-menu-container h1 {
    font-size: 6rem;
}
#start-menu-container .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: min(50rem, 100%);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
#start-menu-container button, .btn {
    flex: 1;
}
#start-menu-container img {
    max-height: 20vh;
}

#scoreboard {
    background-color: #0000008a;
    display: none;
}
#scoreboard h1 {
    font-size: 3rem;
}
#scoreboard > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#scoreboard .scores {
    width: min(100%, 30rem);
    background-color: #b4b6dd;
    text-align: center;
}
#scoreboard .row:nth-child(2n + 1) {
    background-color: #84cce4;
}
#scoreboard .row:first-child {
    background-color: #777ab1;
    color: whitesmoke;
    font-weight: bold;
}
#scoreboard .row {
    padding: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr;
}

#game-settings {
    background-color: #96c9da;
}
#game-settings h1 {
    font-size: 2.75rem;
}
#game-settings > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#game-settings .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: min(25rem, 100%);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
#game-settings button {
    flex: 1;
}
