@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

button, .btn {
    display: block;

    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #eee;
    background-color: transparent;

    padding: 0.45rem;
    border-radius: 10px;
    border: 0px;

    cursor: pointer;
    user-select: none;

    transition: .1s all ease-in-out;
    font-family: 'Audiowide', cursive;
}

button:active, .btn:active,
button:hover, .btn:hover {
    transform: scale(1.1, 1.1);
    color: #ddd;
}

#start-menu-container {
    background-image: url(https://media.istockphoto.com/id/1335852418/vector/modern-world-map-made-of-lines-and-dots-on-dark-blue-background.jpg?b=1&s=612x612&w=0&k=20&c=03dWwRGMfJJ6EfhVqdvluz5adqMftRj_IMIW6HmqXAw=);
    background-size: cover;
}
#start-menu-container > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px 0 0 30px;
}
#start-menu-container h1 {
    font-size: 6rem;
}
#start-menu-container .buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
#start-menu-container button, .btn {
    flex: 1;
}
#start-menu-container img {
    max-height: 20vh;
}

#credits {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-weight: bold;
}

#scoreboard {
    background-color: #0000008a;
    display: none;
}
#scoreboard h1 {
    font-size: 3rem;
}
#scoreboard > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#scoreboard .scores {
    width: min(100%, 40rem);
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
}

#scoreboard .row:nth-child(2n + 1) {
    background-color: #ccc;
}
#scoreboard .row:first-child {
    background-color: #2f3036;
    color: whitesmoke;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#scoreboard .row:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#scoreboard .row {
    padding: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr;
}

#scoreboard .row .cell {
    color: #333;
}

#game-settings {
    background-color: #0000008a;
    display: none;
}
#game-settings .planet-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
#game-settings .planet {
    position: relative;
    background-size: auto 100%;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: rotate-map 20s infinite linear;
}
#game-settings .planet:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
    z-index: 2;
}
@keyframes rotate-map {
    0% {
        background-position: -100% 0;
    }
  
    100% {
        background-position: 100% 0;
    }
}
#game-settings .selection {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
#game-settings h1 {
    font-size: 2.75rem;
}
#game-settings > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#game-settings .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: min(25rem, 100%);
}
#game-settings button {
    flex: 1;
}
#game-gui {
    display: none;
}
#game-gui #main {
    z-index: 8;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8c8fca;
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#game-gui #speed {
    z-index: 10;
    position: fixed;
    bottom: -1rem;
    left: -1rem;
}
#game-gui .circle {
    height: 10rem;
    width: 10rem;
    background-color: #d8dee0;
    border-radius: 100%;
    border: 2rem solid #8c8fca;
}
.circle .numbers {
    z-index: 1;
    position: relative;
    top: -1rem;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.circle .numbers > div {
    position: absolute;
}
.circle .numbers > div:nth-child(1) {
    top: 2px;
    right: calc(50% - 0.5ch);
}
.circle .numbers > div:nth-child(2) {
    top: 15%;
    right: 15%;
}
.circle .numbers > div:nth-child(3) {
    top: calc(50% - 1ch);
    right: 2px;
}
.circle .numbers > div:nth-child(4) {
    bottom: 15%;
    right: 15%;
}
.circle .numbers > div:nth-child(5) {
    bottom: 2px;
    right: calc(50% - 0.5ch);
}
.circle .numbers > div:nth-child(6) {
    bottom: 15%;
    left: 15%;
}
.circle .numbers > div:nth-child(7) {
    left: 2px;
    top: calc(50% - 1ch);
}
.circle .numbers > div:nth-child(8) {
    top: 15%;
    left: 15%;
}
.circle .gauge {
    z-index: 5;
    position: relative;
    top: calc(50% - 0.5rem);
    display: flex;
    width: 100%;
    transform: rotate(-45deg);
}
.circle .gauge > div {
    width: 5rem;
    height: 1rem;
    background-color: #777ab1d7;
}
